@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-jost-sans);
  --font-serif: var(--font-spectral-serif);
  --font-mono: var(--font-ubuntu-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  padding-bottom: 1em;
}


